<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    	<encoder>
            <charset>UTF-8</charset>
    		<pattern>![%d] [%p] [%-35.35c{1} %L] %m%n</pattern>
    	</encoder>
    </appender>

	<appender name="file_application" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>![%d] [%-5p] [%-35.35c{1} %L] %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/svdonation-application-%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="file_hibernate" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>![%d] [%-5p] [%-35.35c{1} %L] %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/svdonation-sql-%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="com.sk.svdonation" level="DEBUG" additivity="false">
        <appender-ref ref="console" />
        <appender-ref ref="file_application" />
    </logger>

    <logger name="console" level="DEBUG">
        <appender-ref ref="console" />
        <appender-ref ref="file_application" />
    </logger>
    
    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <!-- <appender-ref ref="console" /> -->
        <appender-ref ref="file_hibernate" />
    </logger>

     <logger name="org.hibernate.type" level="TRACE" additivity="false">
        <!-- <appender-ref ref="console" /> -->
        <appender-ref ref="file_hibernate" />
    </logger>   
    
    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="file_application" />
    </root>

</configuration>
